* {
	box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Bold.woff2") format('woff2'),
    url("fonts/Inter-Bold.woff") format('woff');
    font-weight: 700;
    font-smoothing: antialiased;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Medium.woff2") format('woff2'),
    url("fonts/Inter-Medium.woff") format('woff');
    font-weight: 500;
    font-smoothing: antialiased;
}

body {

	font-family: Inter, sans-serif;
	font-weight: 700;
	line-height: 1.2;
}

a{
  color: #000;
}
a:hover{
  text-decoration: none;
}

h2 {
	font-size: 60px;
}


#wrapper {
	width: 100vw;
	height: 100vh;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 120px;
}

#wrapper_legal {
	width: 100vw;
	min-height: 100vh;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 120px;
	padding-bottom: 120px;
}

.content{
	max-width: 500px;
	min-height: 270px;
}

.links {
	max-width: 400px;
	font-family: Inter, sans-serif;
	font-weight: 500;
	font-size: 27px;

	line-height: 1.3;
}

.seo {
  display: none;
}

.legal {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.legal a {
  color: rgba(0,0,0,0.3);
  font-size: 14px;
  font-weight: normal;
}

.legal_content{
	max-width: 500px;
}

.legal_content h1 {
	color: black;
	font-size: 16px;
	line-height: 2;
}

.legal_content a {
	color: rgba(0,0,0,0.3);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
}

.legal_content p {
	color: rgba(0,0,0,0.3);
  font-size: 14px;
  font-weight: normal;
}

@media (max-width: 720px) {

	h2 {
		font-size: 36px;
	}
	#wrapper {
		height: 90vh;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 60px;
	}

	#wrapper_legal {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.content{
		max-width: 380px;
		min-height: 200px;
	}



	.links {
		font-size: 20px;
		max-width: 300px;
	}
}





